* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body,
#app,
#app>div {
  padding: 0;
  margin: 0;
  height: 100%;
}

:root {
  --bg-color: #111;
  --main-text: #ddd;
  --highlight: #44E02F;
  --complementary1: #e02f9d;
  --complementary2: #732fe0;
  --timer-padding: 20px;
  /*--highlight: #29AB87;*/
}

body {
  background-color: var(--bg-color);
  color: var(--main-text);
}

button {
  background-color: var(--highlight);
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  border: none;
  /*border-radius:6px;*/
  /*text-decoration: none;*/
  /*cursor: pointer;*/
}

button:disabled {
  background-color: #333;
  color: #777;
}

h1 {
  color: var(--highlight);
}

h1, h3 {
  margin-left: 20px;
}

input {
  background-color: #222;
  border: none;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  margin-right: 10px;
}

input::-webkit-input-placeholder {
  color: #555;
}

form {
  position: relative;
  padding: 20px;
}

label {
  position: absolute;
  float: left;
  font-size: .8em;
  top: -10px;
}

p {
  margin: 0;
  padding: 0;
}

.timer {
  font-size: 2em;
}

.timers {
  display: flex;
  flex-wrap: wrap
}

.timer-container {
  position: relative;
  background-color: #222;
  padding: var(--timer-padding);
  margin: 20px;
  min-width: 200px;
  max-width: 300px;
  border-radius: 5px;
}

.timer-container.timer-finished {
  background-color: var(--complementary2);
  animation: blinker2 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker2 {
  to {
    color: var(--highlight);
    background-color: var(--bg-color);
  }
}

.timer-container .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  color: var(--complementary1);
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
.close:hover {
  color: white;
  background-color: var(--complementary1);

}
