* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body,
#app,
#app>div {
  padding: 0;
  margin: 0;
  height: 100%;
}

:root {
  --bg-color: #111;
  --main-text: #ddd;
  --highlight: #44E02F;
  /*--highlight: #29AB87;*/
}

body {
  background-color: var(--bg-color);
  color: var(--main-text);
}

button {
  background-color: var(--highlight);
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  border: none;
  /*border-radius:6px;*/
  /*text-decoration: none;*/
  /*cursor: pointer;*/
}

button:disabled {
  background-color: #333;
  color: #777;
}

h1 {
  color: var(--highlight);
}

h1, h3 {
  margin-left: 20px;
}

input {
  background-color: #222;
  border: none;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  margin-right: 10px;
}

input::-webkit-input-placeholder {
  color: #555;
}

form {
  position: relative;
  padding: 20px;
}

label {
  position: absolute;
  float: left;
  font-size: .8em;
  top: -10px;
}

p {
  margin: 0;
  padding: 0;
}

.timer {
  font-size: 2em;
}

.timers {
  display: flex;
  flex-wrap: wrap
}

.timer-container {
  background-color: #222;
  padding: 20px;
  margin: 20px;
  min-width: 200px;
  max-width: 300px;
}
